
# set listening port
#port = 8080

# log to file
#log.file = /var/log/universal_exporter/universal_exporter.log

rabbitmq [
    {
        instance = "prod"
        username = "prom"
        password = "changeit"
        endpoints [
            {
                url = "http://dev-rabbit01:15672/api/"
            }
            {
                # fallback node
                url = "http://dev-rabbit02:15672/api/"
            }
        ]
    }
    {
        instance = "dev"
        username = "prom"
        password = "changeit"
        endpoints [
            {
                url = "http://prod-rabbit01:15672/api/"
            }
            {
                # fallback node
                url = "http://prod-rabbit02:15672/api/"
            }
        ]
    }
]

haproxy [
    {
        instance = "prod"
        url = "http://127.0.0.1:89/"
    }
]

ganglia = [
    {
        instance = "datacenter1"
        port = 8649
        endpoints = [
            {
                host = "gmond01"
            }
            {
                # fallback node
                host = "gmond02"
            }
        ]
    }
]
