ktor {
    deployment {
        port = 8080
    }

    application {
        modules = [ exporter.AppKt.module ]
    }
}

rabbitmq [
    {
        instance = "prod"
        username = "prom"
        password = "changeit"
        endpoints [
            {
                url = "http://dev-rabbit01:15672/api/"
            }
            {
                # fallback node
                url = "http://dev-rabbit02:15672/api/"
            }
        ]
    }
    {
        instance = "dev"
        username = "prom"
        password = "changeit"
        endpoints [
            {
                url = "http://prod-rabbit01:15672/api/"
            }
            {
                # fallback node
                url = "http://prod-rabbit02:15672/api/"
            }
        ]
    }
]

haproxy [
    {
        instance = "prod"
        url = "http://127.0.0.1:89/"
    }
]
